[Unit]
Description=Fully update Arch repo
Conflicts=repo-updater-partial.service
Requires=repo-builder.service
After=repo-builder.service
ConditionDirectoryNotEmpty=%h/build/repo/pkgs/latest

[Service]
WorkingDirectory=%h/build/repo
EnvironmentFile=%h/.config/repo.systemd.env
ExecStart=/usr/bin/fish scripts/full_update.fish $ARCH