[Unit]
Description=Build Arch repo

[Service]
User=nomad7ji
WorkingDirectory=/srv/repo_builder
ExecStart=/usr/bin/fish scripts/build_daemon.fish
Restart=always
RestartSec=5