[Unit]
Description=Partially update Arch repo
Conflicts=repo-updater-full.service
Requires=repo-builder.service
After=repo-builder.service

[Service]
WorkingDirectory=~/build/repo
EnvironmentFile=~/.config/repo.systemd.env
ExecStart=/usr/bin/fish scripts/partial_update.fish $ARCH