[Unit]
Description=Partially update Arch repo
Conflicts=repo-updater-full.service
Requires=repo-builder.service
After=repo-builder.service

[Service]
EnvironmentFile=/etc/conf.d/repo.systemd.env
User=$REPO_USER
WorkingDirectory=$REPO_BUILD_DIR
ExecStart=/usr/bin/fish scripts/partial_update.fish $REPO_ARCH