[Unit]
Description=Build Arch repo

[Service]
Type=oneshot
WorkingDirectory=%h/build/repo
EnvironmentFile=%h/.config/repo.systemd.env
ExecStart=/usr/bin/sudo ./arch_repo_builder ${ARCH}.yaml
Restart=on-failure