[Unit]
Description=Fully update Arch repo
Conflicts=repo-updater-partial.service
Requires=repo-builder.service
After=repo-builder.service

[Service]
EnvironmentFile=/etc/conf.d/repo_builder.%i.systemd.env
User=%i
WorkingDirectory=/home/%i/build/repo
ExecStart=/usr/bin/fish scripts/full_update.fish $REPO_ARCH